
.form{
    margin: 0 auto;
    max-width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
}
.form-wrapper{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form_info-title{
    color: #000000;
    margin: 30px auto;
}
.inputs-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}
.form_input-wrapper{
    margin-bottom: 20px;
}
.text-input-label{
    display: block;
    margin-left: 5px;
    font-size: 28px;
}
.text-input{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    font-size: 32px;
    padding-left: 10px;
}
.input-subtitle{
    font-size: 32px;
    font-weight: 400;
}

.select-container{
    display: flex;
    width: 66vw;
    justify-content: space-around;
}
.select-input-wrapper{
    position: relative;
    width: 90px;
}
.checkbox-input{
    position: absolute;
    opacity: 0;
}
.checkbox-label{
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
}
.checkbox-label:before{
    cursor: pointer;
    position: absolute;
    left: -30px;
    top: 10px;
    display: inline;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 0.1s all ease;
}
.checkbox-input:checked + .checkbox-label:before {
    background-color: #FFD200;
    border:none;
}
.price-container{
    display: flex;
    align-items: center;
    width: 970px;
    justify-content: space-around;
}
.price-title{
    font-size: 40px;
    font-weight: 400;
}


@media (max-width: 1200px){
    .text-input{
        width: 400px;
    }
    .inputs-container{
        max-width: 1000px;
    }
}
@media (max-width: 1000px){
    .text-input{
        width: 350px;
        height: 40px;
    }
    .inputs-container{
        max-width: 800px;
    }
    .price-container{
        width: 800px;
    }
}
@media (max-width: 800px){
    .text-input-label{
        font-size: 24px;
    }
    .form{
        height: 950px;
    }
    .form-wrapper{
        height: 800px;
    }
    .price-title{
        font-size: 32px;
    }
    .checkbox-label {
        font-size: 28px;
    }
    .form .buy-button{
        width: 220px;
        height: 75px;
        font-size: 32px;
    }
    .text-input{
        width: 350px;
        height: 40px;
        font-size: 28px;
    }
    .inputs-container{
        max-width: 450px;
        align-items: center;
        justify-content: center;
    }
    .price-container{
        width: 450px;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
    }
    .select-container{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 450px){
    .text-input-label{
        font-size: 20px;
    }
    .text-input{
        width: 300px;
        height: 35px;
        font-size: 24px;
    }
    .inputs-container{
        max-width: 320px;
    }
    .price-container{
        width: 320px;
    }

}